<%- include('includes/head.ejs'); %>


<body class="index">

    <%- include('includes/header2.ejs'); %>

    <main class="formulier">
        <ul>
            <li>
                <img class="profielfotogroot" src="/images/lisa-en-chick.jpg" width="200" height="300"
                    alt="lisa en chick">
            </li>
            <li>
                <h2>Lisa</h2>
            </li>
            <li>
                <p>Hond(en)</p>
            </li>
            <% for(var i=0; i<honden.length; i++) {%>
            <li>
                <%#In this form you can update or delete your dogs%>
                <form action="/formulier" method="post">
                    <input type="hidden" name="id" value="<%= honden[i]._id%>" />
                    <label>Naam</label><br>
                    <input type="text" name="naam" value="<%= honden[i].naam%>" /><br>
                    <label>Leeftijd</label><br>
                    <input type="text" name="leeftijd" value="<%= honden[i].leeftijd%>" /><br>
                    <button name="flow" value="bijwerken">Bijwerken</button>
                    <button name="flow" value="verwijderen">Verwijderen</button>
                </form>
            </li>
            <%}%>
            <li>
                <p>Toevoegen</p>
            </li>
            <li>
                <%#In this form you can add a woof%>
                <form action="/formulier" method="post" name="toevoegen">
                    <label>Naam</label><br>
                    <input type="text" name="naam" id="naam" /><br>
                    <label>Leeftijd</label><br>
                    <input type="text" name="leeftijd" id="leeftijd" /><br>
                    <button name="flow" id="add" value="toevoegen">Toevoegen</button>
                </form>
            </li>
        </ul>
    </main>

    <%- include('includes/footer.ejs'); %>

</body>